.Rproj.user
.Rhistory
.RData
.Ruserdata
datauttag_adverse_events
adverse_events
.docx
/doc/*
diagnostics/external_validation_template_files/*
diagnostics/external_validation_template_cache/*

cache/*
!cache/ext_val_required_data.RData
