.Rproj.user
.Rhistory
.RData
.Ruserdata
datauttag_adverse_events
adverse_events
.docx
/doc/*
diagnostics/README_cache/*

cache/*
cache_backup/*
!cache/fit_brl_reduced_lean.RData
!cache/categorization.*
reports/~$rticle.docx
cache_backup/categorization.hash
